@import "../../styles/_base";

.portfolio_section {
  @extend %Section;
  background: linear-gradient(
    180deg,
    $background-color 6vw,
    $background-contrast-color 0vw
  );
}

.rigth_title {
  @extend %BigTitle;
  text-align: right;
}

.project_container {
  @extend %Center;
  @extend %ShadowBox;
  background: $background-contrast-color;
  color: $background-color;
  margin-top: 5rem;
  font-size: 1.2rem;
  padding: 3rem 0;

  .images_container {
    position: relative;
    margin: 1rem;
    .background_image {
      width: 20rem;
    }
    .project_image {
      $offset_position: -2rem;
      width: 8rem;
      position: absolute;
      right: $offset_position;
      bottom: $offset_position;
    }
  }
  .info_container {
    .project_title {
      font-weight: 600;
    }
    .project_description {
      line-height: 1.5;
    }
  }

  .images_center {
    @extend %Center;
    width: 40%;
  }
  .info_center {
    @extend %Center;
    width: 40%;
  }
}

@function toRGB($color) {
  @return "rgb(" + red($color) + ", " + green($color) + ", " + blue($color) +
    ")";
}
