/*
  Theme variables: This variables change the look and feel of the website just changing the class of the body component!
  There are a mix of pure css variables and sass variables.
*/

:root {
    --background-color: black;
}
.theme_dark {
    --background-color: white;
}
$background-color: var(--background-color);

/*
  Size variables
*/
$side-margin: 3%;
$size-moon: 20em;

/*
  Extends
*/

%Center{
  display: flex;
  align-items: center;
  justify-content: center;
}

%Section{
  margin-left: $side-margin;
  margin-right: $side-margin;
}

%ShadowBox{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
