/*
  Theme variables: This variables change the look and feel of the website just changing the class of the body component!
  There are a mix of pure css variables and sass variables.
*/

:root {
  --background-color: #141414;
  --background-contrast-color: white;
  --background-shadow-color: #202020;
  --background-shadow-contrast-color: #c5c5c5;
  --background-container-color: #232838;
}
.theme_dark {
  --background-color: white;
  --background-contrast-color: black;
  --background-shadow-color: #202020;
  --background-shadow-contrast-color: #fafafa;
  --background-container-color: #f9f9f9;
}

$background-color: var(--background-color);
$background-contrast-color: var(--background-contrast-color);
$background-shadow-color: var(--background-shadow-color);
$background-shadow-contrast-color: var(--background-shadow-contrast-color);
$container-color: var(--background-container-color);
$accent-color: #ff4d5a;

/*
  Size variables
*/
$side-margin: 3%;

/*
  Extends || Customs "classes" tom implement in common components
*/

%Center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%Section {
  padding-left: $side-margin;
  padding-right: $side-margin;
}

%ShadowBox {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

%BigTitle {
  font-size: 10vw;
  mix-blend-mode: difference;
  color: white;
}

%SectionTitle {
  font-size: 3rem;
  font-weight: 600;
  @include media("<phone") {
    font-size: 1rem;
  }
}

%BackgroundTitle {
  @extend %BigTitle;
  color: var(--background-shadow-color);
}

%Line {
  background-color: $accent-color;
  border-radius: 20em;
}
