@import "../../styles/_base";

$component-width: 100%;

.about_section {
  @extend %Section;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  color: $background-contrast-color;
  background: linear-gradient(
    180deg,
    $background-contrast-color 6vw,
    $background-color 0vw
  );
}

.left_title {
  @extend %BigTitle;
  text-align: left;
  width: 100%;
}

.who_i_am_container {
  @extend %Center;
  color: $background-contrast-color;
  width: $component-width;
  .title_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      margin: 0.2rem 1rem;
    }
    .line {
      @extend %Line;
      width: 110%;
      height: 0.3rem;
    }
    .line_bottom {
      @extend .line;
      margin-left: 4rem;
    }
  }
  .information_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 15%;
    width: 50%;
  }
  img {
    width: 20%;
  }
}

.my_skills_container {
  @extend %Center;
  flex-direction: column;
  color: $background-contrast-color;
  width: $component-width;
  .skills_topics_container {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }
}

.skill_topic_container {
  @extend %Center;
  background-color: $container-color;
  flex-direction: column;
  padding: 2rem;
  border-radius: 2rem;
  .skill_title {
    font-size: 2rem;
    font-weight: 500;
  }
  .skill_icon {
    filter: brightness(0) invert(1);
    mix-blend-mode: difference;
    width: 4rem;
  }
}

.my_work_container {
  @extend %Center;
  width: $component-width;
  .title_container {
    display: flex;
    flex-direction: column;
    .line {
      @extend %Line;
      width: 110%;
      height: 0.3rem;
    }
    h1 {
      margin-left: 2rem;
    }
    .line_bottom {
      @extend .line;
      margin-left: 2rem;
    }
  }
  .content_wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    align-items: flex-start;
    width: 50%;
  }
  img {
    width: 20%;
  }
}

.tool_box_container {
  @extend %Center;
  flex-direction: column;
  color: $background-contrast-color;
  margin-top: 5rem;
  .title_container {
    @extend %Center;
    flex-direction: column;
    .line {
      @extend %Line;
      width: 110%;
      height: 0.3rem;
    }
  }
  .tool_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 2rem;
    background-color: $container-color;
    width: 70%;
    padding: 2rem;
    margin: 2rem;
  }
  .tool_box_item {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin: 2rem 1.9rem;
    filter: grayscale(100%);
    img {
      height: 6rem;
    }
    span {
      display: none;
      background-color: $container-color;
      color: $background-contrast-color;
    }
    &:hover {
      filter: none;
      span {
        display: inline-flex;
        background-color: $container-color;
        color: $background-contrast-color;
        position: absolute;
        bottom: -2.5rem;
      }
    }
  }
}
