@import "../../styles/_base";

.home_section {
  @extend %Section;
  @extend %Center;
  height: 95vh;

  @include media("<phone") {
    flex-direction: column;
  }

  .home_lines_container {
    .home_line {
      @extend %Line;
      width: 50%;
      height: 0.4rem;
      margin-bottom: 0.3rem;
    }
    .home_line:last-of-type {
      margin-left: 4rem;
    }
  }

  .presentation_title {
    font-weight: 600;
  }
}

#moonCanvas {
  $size-moon: 20vw;
  $min-size: 14em;
  outline: none;
  width: $size-moon;
  height: $size-moon;
  min-width: $min-size;
  min-height: $min-size;
}
