@import '../../styles/_base';

.home_section{
  @extend %Section;
  @extend %Center;
  height: 95vh;  
}

#moonCanvas{
  $size-moon: 20vw;
  $min-size: 10em;
  outline: none;
  width: $size-moon;
  height: $size-moon;
  min-width: $min-size;
  min-height: $min-size;
  @include media("<=tablet"){
  }
}
