@import '../../styles/_base';

.home_section{
  @extend %Section;
  @extend %Center;
  height: 95vh;  
  @include media('<phone'){
    flex-direction: column;
  }
}

#moonCanvas{
  $size-moon: 20vw;
  $min-size: 14em;
  outline: none;
  width: $size-moon;
  height: $size-moon;
  min-width: $min-size;
  min-height: $min-size;
}
