@import '../../styles/_base';

.main_header{
  width: 100%;
  height: 8vh;
  position: fixed;
  .header_wrapper{
    @extend %Center;
    justify-content: space-between;
  }
}

.navigation_section{
  width: 60%;
  display: flex;
  justify-content: space-between;
}
