@import "../../styles/_base";

.main_header {
  width: 100vw;
  height: 6vh;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  display: flex;
  background-color: $background-color;
  .header_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: $side-margin;
    margin-right: $side-margin;
  }
}

.navigation_section {
  width: 60%;
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2rem;
    color: $background-contrast-color;
  }
}

.options_wrapper {
  @extend %Center;
}
