@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
}

.app{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 50vh;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 7%), 0 4px 8px rgb(0 0 0 / 7%), 0 8px 16px rgb(0 0 0 / 7%), 0 16px 32px rgb(0 0 0 / 7%), 0 32px 64px rgb(0 0 0 / 7%);
}

.app p{
 font-family: 'Roboto', sans-serif; 
 text-align: center;
}

.tempInfoText{
 font-family: 'Roboto', sans-serif; 
 font-size: 2em;
 font-style: normal;
 text-align: center;
}

.crab-gif{
  background: url('./crab.gif') no-repeat;
  width: 20%;
   padding-bottom: 8%;
     background-position: center center;
  background-size: cover;
  background-size: 100% 100%;
}

.webassembly-logo{
  background: url('./wasm.png');
  width: 12em;
  height: 12em;
  background-size: 12em 12em;
}

@media (prefers-reduced-motion: no-preference) {
  .webassembly-logo{
    animation: wa-logo-anim infinite 1.5s alternate;
  }
}

@keyframes wa-logo-anim {
  from {
    transform: scale(0.8);
  }
  to { 
    transform: scale(0.99); 
  }

}
