@font-face {
  src: url(https://nojipiz.github.io/PROYECTO_TEMP/SEMILLAS/fonts/bubble.ttf);
  font-family: bubble;
}


html{
	background-color: #ffe787;
}


#title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#playButton{
	border-color: white;
	background-color: #ffd424;
	font-family: bubble;
	font-size: 2em;
	background: linear-gradient(to right, #ff39b6, #f048b2 70%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 1.5px black;
  -webkit-text-fill-color: transparent;
  text-align: center;
  vertical-align: top;
  font-family: bubble;
  z-index: 100;
}

canvas { background: #ffe787; }
